@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* -------------------------------------------------------------------------- */
/* NAVBAR
/* -------------------------------------------------------------------------- */

#navbar * {
    font-family: "Montserrat", Helvetica, sans-serif;

    color: white;
}

#navbar {
    border: #4db6ac;
    background-color: #4db6ac;
    background-image: none;
}

.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background: #00796b;
}

#menu-toggle {
    border: none;
    background-color: #4db6ac;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

/* -------------------------------------------------------------------------- */
/* MAP
/* -------------------------------------------------------------------------- */

#map {
    position: absolute;
    z-index: -1;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
}
