/* -------------------------------------------------------------------------- */
/* TYPOGRAPHY
/* -------------------------------------------------------------------------- */

* {
  font-family: "Montserrat", Helvetica, sans-serif;
}

/* -------------------------------------------------------------------------- */
/* RESETS
/* -------------------------------------------------------------------------- */

a:focus,
a:hover {
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.panel-heading.collapsed {
  border-bottom: none;
}

.panel-footer {
  background-color: #fff;
}

[data-toggle] {
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/* EXTENSIONS
/* -------------------------------------------------------------------------- */

.tab-pane-maximize {
  position: absolute;
  z-index: -1;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

.btn-bottom {
  position: absolute;
  bottom: 0;
  border-radius: 0;
}

/* -------------------------------------------------------------------------- */
/* NAVBAR
/* -------------------------------------------------------------------------- */

.navbar {
  border: #4db6ac;
  border-radius: 0;
  background-color: #4db6ac;
  background-image: none;
}

.navbar-default .navbar-nav > li,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}

.navbar-default .navbar-nav > .active,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #fff;
  background: #00796b;
}

/* -------------------------------------------------------------------------- */
/* GROUPS
/* -------------------------------------------------------------------------- */

.group-status {
  padding: 7px;
  cursor: pointer;
}

.group.active {
  border-color: #337ab7;
}

.group.active > .panel-heading {
  color: #fff;
  border-color: #337ab7;
  background-color: #337ab7;
}

.group.active .group-status {
  background-color: #5bc0de;
}

.group.active > .panel-heading .panel-collapse > .panel-body {
  border-top-color: #337ab7;
}

.group.active > .panel-footer .panel-collapse > .panel-body {
  border-bottom-color: #337ab7;
}

.group.inactive {
  border-color: #faebcc;
}

.group.inactive > .panel-heading {
  color: #8a6d3b;
  border-color: #faebcc;
  background-color: #fcf8e3;
}

.group.inactive .group-status {
  background-color: #f0ad4e;
}

.group.inactive > .panel-heading .panel-collapse > .panel-body {
  border-top-color: #faebcc;
}

.group.inactive > .panel-footer .panel-collapse > .panel-body {
  border-bottom-color: #faebcc;
}

.group.expired {
  border-color: #ebccd1;
}

.group.expired > .panel-heading {
  color: #a94442;
  border-color: #ebccd1;
  background-color: #f2dede;
}

.group.expired .group-status {
  background-color: #d9534f;
}

.group.expired > .panel-heading .panel-collapse > .panel-body {
  border-top-color: #ebccd1;
}

.group.expired > .panel-footer .panel-collapse > .panel-body {
  border-bottom-color: #ebccd1;
}
